<div class="table-item">
  <div class="columns">
    <div class="column is-1 justify-center">
      <span class="table-data">
        <span class="avatar-img">
          <img [src]="player?.avatar" [alt]="player?.name + ' ' + player?.lastname">
        </span>
      </span>
    </div>
    <div class="column is-1 justify-center">
      <span class="table-data is-number is-green">{{ player?.number === 0 ? '00' : player?.number }}</span>
    </div>
    <div class="column is-2 justify-center">
      <span class="table-data">{{ player?.name }}</span>
    </div>
    <div class="column is-2 justify-center">
      <span class="table-data">{{ player?.lastname }}</span>
    </div>
    <div class="column is-1 justify-center">
      <span class="table-data">{{ player?.birthdate | date }}</span>
    </div>
    <div class="column is-1 justify-center">
      <span class="table-data is-number">{{ player?.age }}</span>
    </div>
    <div class="column is-1 justify-center">
      <span class="table-data">{{ player?.height }}cm</span>
    </div>
    <div class="column is-1 justify-center">
      <span class="table-data">{{ player?.weight }}kg</span>
    </div>
    <div class="column is-2 justify-center">
      <span class="table-data">{{ player?.club }}</span>
    </div>
  </div>
</div>
